

.precio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color:rgb(109, 109, 109);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    
    

}


.item {
    display: flex;
    border: 1px solid rgb(235, 234, 234);
    justify-content:space-around;
    align-items: flex-start;
    align-content: center;
    margin: 5%;
    width: 300px;
    max-height: 400px;
    box-shadow: 2px 2px 2px rgb(194, 191, 191) ;
    border-radius: 3px;
} 

.detalle {

    padding: 10px;
    margin-top: 20px;
    margin-left: 30rem;
    width: 500px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    background-color:rgb(235, 234, 234);
}


.total {
    display: block;
    font-size: 2.25rem;

}


.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 2px 2px; */
    max-height: 200px;
    margin: 10px auto;
}


.imagenDetalle {
    display: flex;
    margin-left: 3.125rem;
    box-shadow: 2px 2px 2px;

}



.ItemCarrito {
    display: flex;
    max-height: 18.75rem;
    align-items: center;
    margin-left: .9375rem;
    margin-top: .9375rem;
    width: 31.25rem;
    border: .0625rem solid rgb(112, 111, 111);
    background-color:rgb(228, 187, 24);
    }

.fotocentro {
    display: flex;
    justify-content: flex-end;
    max-height: 18.75rem;
    margin-left: 20px;
    
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    background-color: rgb(228, 187, 24);
    max-width: 38.4375rem;
    
    
    

}


.pago {
    font-size: 1.5625rem;

}

.precioFinal {
    font-size: 2.5rem;
}




.formulario2 {
    display: flex;
}


.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid gray ;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 10px;
    background-color: rgb(175, 172, 173);
}




.nosotros{
    background-color: rgb(220, 224, 224);
}

