p {
    font-size: 1.875rem;
    margin: 1.25rem;
}


button {
    margin-left: 1%;
    font-size: 12px;
    border: 1px solid gray ;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 10px;
    background-color: rgb(175, 172, 173);
}

h4 {
    display: flex;
    margin-right: 5%;
    justify-content:flex-end ;
    text-decoration: none;
    color: black;
    font-size: 1.5625rem;
}

