p {
    font-size: 1.875rem;
    margin: 1.25rem;
}


button {
    margin-left: 1%;
}

h4 {
    display: flex;
    margin-right: 5%;
    justify-content:flex-end ;
    text-decoration: none;
    color: black;
    font-size: 1.5625rem;
}

