h2 {
    display: flex;
    width: 9.375rem;
    font-size: 1.25rem;
    color: black;
    margin: 5%;

}

.precio {
    display: flex;
    background-color: rgb(94, 94, 94);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color:azure;
    width: 5.625rem;
    

}


.item {
    display: flex;
    background-color:rgb(235, 234, 234);
    justify-content:space-around;
    align-items: flex-start;
    align-content: center;
    margin: 5%;
    width: 288px;
    box-shadow: 2px 2px 2px ;
    border-radius: 3px;
} 

.detalle {
    margin-left: 30rem;
    width: 500px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    background-color:rgb(235, 234, 234);
}


.total {
    display: block;
    font-size: 2.25rem;

}


.imagen {
    box-shadow: 2px 2px 2px;
    max-height: 12.5rem;
}


.imagenDetalle {
    display: flex;
    margin-left: 3.125rem;
    box-shadow: 2px 2px 2px;

}



.ItemCarrito {
    display: flex;
    max-height: 18.75rem;
    align-items: center;
    margin-left: .9375rem;
    margin-top: .9375rem;
    width: 31.25rem;
    border: .0625rem solid rgb(112, 111, 111);
    background-color:rgb(228, 187, 24);
    }

.fotocentro {
    display: flex;
    justify-content: flex-end;
    max-height: 18.75rem;
    
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    background-color: rgb(228, 187, 24);
    max-width: 38.4375rem;
    
    
    

}


.pago {
    font-size: 1.5625rem;

}

.precioFinal {
    font-size: 2.5rem;
}




.formulario2 {
    display: flex;
}


