header {
    display: flex;
    justify-content:space-around ;
    align-items:center;
    border: solid rgb(221, 216, 216);
    background-color: rgb(255, 254, 254);
    
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    padding-left: 70px;
    color:rgb(228, 187, 24);
    font-family:'Times New Roman', Times, serif;
    
}


body {
background-color:rgb(228, 187, 24) ;
}


.estilonav {
    display: inline;
    padding-left: 60px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
    
    
} 




