header {
    display: flex;
    justify-content:space-around ;
    align-items:center;
    background-color: rgb(187, 185, 185);
    align-content: center;
    justify-content: flex-start;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family:'Times New Roman', Times, serif;
    margin-left: 20px;
    
}





.estilonav {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: black;
    
    
} 


.navContainer {
    display: flex;
    flex-direction: column;
    
    
}

.navegationItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    
   
 
}



.shoppingCart {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.carrito {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 68, 68);
    box-shadow: 3px 3px 3px rgba(104, 102, 102);
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px;
 
   

}


.numerito {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration-color: black;
}