header {
    display: flex;
    justify-content:space-around ;
    align-items:center;
    border: solid rgb(166, 162, 162);
    background-color: rgb(228, 187, 24);
    align-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family:'Times New Roman', Times, serif;
    
}





.estilonav {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: black;
    
    
} 


.navContainer {
    display: flex;
    flex-direction: column;
}

.navegationItems, .shoppingCart {
    display: flex;
}







